**/.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
.vscode
.env
#data
/Tools/chromedriver.exe
Rent_price.ipynb

Draft/Untitled.ipynb
data/Machine_learning/
data/casas.csv
data/casas_limpio_orient.csv
data/data_limpio.csv
data/data_limpio_orient.csv
data/houses_Madrid.csv